ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}



page-home {
    #map {
        width: 100%;
        height: 485px;
        opacity: 0.8;
    }

    .gelocation-btn {
        margin: 0px;
        padding: 0px;
    }
}
